<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">

		
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/mymain.css">
	
		<title>TheBlog</title>
	</head>
	<body> -->

	{% extends "header.html" %}

	{% block content %}
	{% load staticfiles %}


	    <div class="container" id="container">
	    	<div id="content">
		    	<h1>Welcome to the blog!</h1>
				<p>Click the button below to continue</p>
				<a class="btn btn-primary  btn-block" href="home" role="button">Welcome</a>
			</div>
	    </div>

	{% endblock %}

<!-- 	</body>
	 <script src="js/bootstrap.min.js"></script>
</html> -->